@font-face {
  font-family: 'efont';
  src:  url('fonts/efont.eot?dtntrf');
  src:  url('fonts/efont.eot?dtntrf#iefix') format('embedded-opentype'),
  url('fonts/efont.ttf?dtntrf') format('truetype'),
  url('fonts/efont.woff?dtntrf') format('woff'),
  url('fonts/efont.svg?dtntrf#efont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="efont-"], [class*=" efont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'efont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.efont-plus:before {
  content: "\f067";
}
.efont-envelope-o:before {
  content: "\f003";
}
.efont-star:before {
  content: "\f005";
}
.efont-user:before {
  content: "\f007";
}
.efont-cog:before {
  content: "\f013";
}
.efont-gear:before {
  content: "\f013";
}
.efont-lock:before {
  content: "\f023";
}
.efont-align-justify:before {
  content: "\f039";
}
.efont-list:before {
  content: "\f03a";
}
.efont-eye:before {
  content: "\f06e";
}
.efont-credit-card:before {
  content: "\f09d";
}
.efont-chain:before {
  content: "\f0c1";
}
.efont-link:before {
  content: "\f0c1";
}
.efont-cloud-upload:before {
  content: "\f0ee";
}
.efont-mobile:before {
  content: "\f10b";
}
.efont-mobile-phone:before {
  content: "\f10b";
}
.efont-folder-open-o:before {
  content: "\f115";
}
.efont-slack:before {
  content: "\f198";
}
.efont-envelope-square:before {
  content: "\f199";
}
.efont-wordpress:before {
  content: "\f19a";
}
.efont-ra:before {
  content: "\f1d0";
}
.efont-rebel:before {
  content: "\f1d0";
}
.efont-resistance:before {
  content: "\f1d0";
}
.efont-calculator:before {
  content: "\f1ec";
}
.efont-paypal:before {
  content: "\f1ed";
}
.efont-cc-visa:before {
  content: "\f1f0";
}
.efont-cc-mastercard:before {
  content: "\f1f1";
}
.efont-cc-discover:before {
  content: "\f1f2";
}
.efont-cc-amex:before {
  content: "\f1f3";
}
.efont-cc-paypal:before {
  content: "\f1f4";
}
.efont-cc-stripe:before {
  content: "\f1f5";
}
.efont-paint-brush:before {
  content: "\f1fc";
}
.efont-cart-plus:before {
  content: "\f217";
}
.efont-volume-control-phone:before {
  content: "\f2a0";
}

