.engage-table table {
    background-color: transparent;
}
.engage-table caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777777;
    text-align: left;
}
.engage-table th {
    text-align: left;
}
.engage-table .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.engage-table .table > thead > tr > th,
.engage-table .table > tbody > tr > th,
.engage-table .table > tfoot > tr > th,
.engage-table .table > thead > tr > td,
.engage-table .table > tbody > tr > td,
.engage-table .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.engage-table .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
.engage-table .table > caption + thead > tr:first-child > th,
.engage-table .table > colgroup + thead > tr:first-child > th,
.engage-table .table > thead:first-child > tr:first-child > th,
.engage-table .table > caption + thead > tr:first-child > td,
.engage-table .table > colgroup + thead > tr:first-child > td,
.engage-table .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.engage-table .table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.engage-table .table .table {
    background-color: #ffffff;
}
.engage-table .table-condensed > thead > tr > th,
.engage-table .table-condensed > tbody > tr > th,
.engage-table .table-condensed > tfoot > tr > th,
.engage-table .table-condensed > thead > tr > td,
.engage-table .table-condensed > tbody > tr > td,
.engage-table .table-condensed > tfoot > tr > td {
    padding: 5px;
}
.engage-table .table-bordered {
    border: 1px solid #dddddd;
}
.engage-table .table-bordered > thead > tr > th,
.engage-table .table-bordered > tbody > tr > th,
.engage-table .table-bordered > tfoot > tr > th,
.engage-table .table-bordered > thead > tr > td,
.engage-table .table-bordered > tbody > tr > td,
.engage-table .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.engage-table .table-bordered > thead > tr > th,
.engage-table .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.engage-table .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.engage-table .table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
.engage-table table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
.engage-table table td[class*="col-"],
.engage-table table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}
.engage-table .table > thead > tr > td.active,
.engage-table .table > tbody > tr > td.active,
.engage-table .table > tfoot > tr > td.active,
.engage-table .table > thead > tr > th.active,
.engage-table .table > tbody > tr > th.active,
.engage-table .table > tfoot > tr > th.active,
.engage-table .table > thead > tr.active > td,
.engage-table .table > tbody > tr.active > td,
.engage-table .table > tfoot > tr.active > td,
.engage-table .table > thead > tr.active > th,
.engage-table .table > tbody > tr.active > th,
.engage-table .table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}
.engage-table .table-hover > tbody > tr > td.active:hover,
.engage-table .table-hover > tbody > tr > th.active:hover,
.engage-table .table-hover > tbody > tr.active:hover > td,
.engage-table .table-hover > tbody > tr:hover > .active,
.engage-table .table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}
.engage-table .table > thead > tr > td.success,
.engage-table .table > tbody > tr > td.success,
.engage-table .table > tfoot > tr > td.success,
.engage-table .table > thead > tr > th.success,
.engage-table .table > tbody > tr > th.success,
.engage-table .table > tfoot > tr > th.success,
.engage-table .table > thead > tr.success > td,
.engage-table .table > tbody > tr.success > td,
.engage-table .table > tfoot > tr.success > td,
.engage-table .table > thead > tr.success > th,
.engage-table .table > tbody > tr.success > th,
.engage-table .table > tfoot > tr.success > th {
    background-color: #dff0d8;
}
.engage-table .table-hover > tbody > tr > td.success:hover,
.engage-table .table-hover > tbody > tr > th.success:hover,
.engage-table .table-hover > tbody > tr.success:hover > td,
.engage-table .table-hover > tbody > tr:hover > .success,
.engage-table .table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}
.engage-table .table > thead > tr > td.info,
.engage-table .table > tbody > tr > td.info,
.engage-table .table > tfoot > tr > td.info,
.engage-table .table > thead > tr > th.info,
.engage-table .table > tbody > tr > th.info,
.engage-table .table > tfoot > tr > th.info,
.engage-table .table > thead > tr.info > td,
.engage-table .table > tbody > tr.info > td,
.engage-table .table > tfoot > tr.info > td,
.engage-table .table > thead > tr.info > th,
.engage-table .table > tbody > tr.info > th,
.engage-table .table > tfoot > tr.info > th {
    background-color: #d9edf7;
}
.engage-table .table-hover > tbody > tr > td.info:hover,
.engage-table .table-hover > tbody > tr > th.info:hover,
.engage-table .table-hover > tbody > tr.info:hover > td,
.engage-table .table-hover > tbody > tr:hover > .info,
.engage-table .table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}
.engage-table .table > thead > tr > td.warning,
.engage-table .table > tbody > tr > td.warning,
.engage-table .table > tfoot > tr > td.warning,
.engage-table .table > thead > tr > th.warning,
.engage-table .table > tbody > tr > th.warning,
.engage-table .table > tfoot > tr > th.warning,
.engage-table .table > thead > tr.warning > td,
.engage-table .table > tbody > tr.warning > td,
.engage-table .table > tfoot > tr.warning > td,
.engage-table .table > thead > tr.warning > th,
.engage-table .table > tbody > tr.warning > th,
.engage-table .table > tfoot > tr.warning > th {
    background-color: #fef8e3;
}
.engage-table .table-hover > tbody > tr > td.warning:hover,
.engage-table .table-hover > tbody > tr > th.warning:hover,
.engage-table .table-hover > tbody > tr.warning:hover > td,
.engage-table .table-hover > tbody > tr:hover > .warning,
.engage-table .table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}
.engage-table .table > thead > tr > td.danger,
.engage-table .table > tbody > tr > td.danger,
.engage-table .table > tfoot > tr > td.danger,
.engage-table .table > thead > tr > th.danger,
.engage-table .table > tbody > tr > th.danger,
.engage-table .table > tfoot > tr > th.danger,
.engage-table .table > thead > tr.danger > td,
.engage-table .table > tbody > tr.danger > td,
.engage-table .table > tfoot > tr.danger > td,
.engage-table .table > thead > tr.danger > th,
.engage-table .table > tbody > tr.danger > th,
.engage-table .table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
.engage-table .table-hover > tbody > tr > td.danger:hover,
.engage-table .table-hover > tbody > tr > th.danger:hover,
.engage-table .table-hover > tbody > tr.danger:hover > td,
.engage-table .table-hover > tbody > tr:hover > .danger,
.engage-table .table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}
.engage-table .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
@media screen and (max-width: 767px) {
    .engage-table .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }
    .engage-table .table-responsive > .table {
        margin-bottom: 0;
    }
    .engage-table .table-responsive > .table > thead > tr > th,
    .engage-table .table-responsive > .table > tbody > tr > th,
    .engage-table .table-responsive > .table > tfoot > tr > th,
    .engage-table .table-responsive > .table > thead > tr > td,
    .engage-table .table-responsive > .table > tbody > tr > td,
    .engage-table .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    .engage-table .table-responsive > .table-bordered {
        border: 0;
    }
    .engage-table .table-responsive > .table-bordered > thead > tr > th:first-child,
    .engage-table .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .engage-table .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .engage-table .table-responsive > .table-bordered > thead > tr > td:first-child,
    .engage-table .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .engage-table .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .engage-table .table-responsive > .table-bordered > thead > tr > th:last-child,
    .engage-table .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .engage-table .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .engage-table .table-responsive > .table-bordered > thead > tr > td:last-child,
    .engage-table .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .engage-table .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .engage-table .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .engage-table .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .engage-table .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .engage-table .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}
.engage-table .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.engage-table .btn:focus,
.engage-table .btn:active:focus,
.engage-table .btn.active:focus,
.engage-table .btn.focus,
.engage-table .btn:active.focus,
.engage-table .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.engage-table .btn:hover,
.engage-table .btn:focus,
.engage-table .btn.focus {
    color: #333333;
    text-decoration: none;
}
.engage-table .btn:active,
.engage-table .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.engage-table .btn.disabled,
.engage-table .btn[disabled],
.engage-table fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.engage-table a.btn.disabled,
.engage-table fieldset[disabled] a.btn {
    pointer-events: none;
}
.engage-table .btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}
.engage-table .btn-default:focus,
.engage-table .btn-default.focus {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.engage-table .btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.engage-table .btn-default:active,
.engage-table .btn-default.active,
.engage-table .open > .dropdown-toggle.btn-default {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.engage-table .btn-default:active:hover,
.engage-table .btn-default.active:hover,
.engage-table .open > .dropdown-toggle.btn-default:hover,
.engage-table .btn-default:active:focus,
.engage-table .btn-default.active:focus,
.engage-table .open > .dropdown-toggle.btn-default:focus,
.engage-table .btn-default:active.focus,
.engage-table .btn-default.active.focus,
.engage-table .open > .dropdown-toggle.btn-default.focus {
    color: #333333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.engage-table .btn-default:active,
.engage-table .btn-default.active,
.engage-table .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.engage-table .btn-default.disabled:hover,
.engage-table .btn-default[disabled]:hover,
.engage-table fieldset[disabled] .btn-default:hover,
.engage-table .btn-default.disabled:focus,
.engage-table .btn-default[disabled]:focus,
.engage-table fieldset[disabled] .btn-default:focus,
.engage-table .btn-default.disabled.focus,
.engage-table .btn-default[disabled].focus,
.engage-table fieldset[disabled] .btn-default.focus {
    background-color: #ffffff;
    border-color: #cccccc;
}
.engage-table .btn-default .badge {
    color: #ffffff;
    background-color: #333333;
}
.engage-table .btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.engage-table .btn-primary:focus,
.engage-table .btn-primary.focus {
    color: #ffffff;
    background-color: #286090;
    border-color: #122b40;
}
.engage-table .btn-primary:hover {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
.engage-table .btn-primary:active,
.engage-table .btn-primary.active,
.engage-table .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
}
.engage-table .btn-primary:active:hover,
.engage-table .btn-primary.active:hover,
.engage-table .open > .dropdown-toggle.btn-primary:hover,
.engage-table .btn-primary:active:focus,
.engage-table .btn-primary.active:focus,
.engage-table .open > .dropdown-toggle.btn-primary:focus,
.engage-table .btn-primary:active.focus,
.engage-table .btn-primary.active.focus,
.engage-table .open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #204d74;
    border-color: #122b40;
}
.engage-table .btn-primary:active,
.engage-table .btn-primary.active,
.engage-table .open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.engage-table .btn-primary.disabled:hover,
.engage-table .btn-primary[disabled]:hover,
.engage-table fieldset[disabled] .btn-primary:hover,
.engage-table .btn-primary.disabled:focus,
.engage-table .btn-primary[disabled]:focus,
.engage-table fieldset[disabled] .btn-primary:focus,
.engage-table .btn-primary.disabled.focus,
.engage-table .btn-primary[disabled].focus,
.engage-table fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.engage-table .btn-primary .badge {
    color: #337ab7;
    background-color: #ffffff;
}
.engage-table .btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.engage-table .btn-success:focus,
.engage-table .btn-success.focus {
    color: #ffffff;
    background-color: #449d44;
    border-color: #255625;
}
.engage-table .btn-success:hover {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
.engage-table .btn-success:active,
.engage-table .btn-success.active,
.engage-table .open > .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
}
.engage-table .btn-success:active:hover,
.engage-table .btn-success.active:hover,
.engage-table .open > .dropdown-toggle.btn-success:hover,
.engage-table .btn-success:active:focus,
.engage-table .btn-success.active:focus,
.engage-table .open > .dropdown-toggle.btn-success:focus,
.engage-table .btn-success:active.focus,
.engage-table .btn-success.active.focus,
.engage-table .open > .dropdown-toggle.btn-success.focus {
    color: #ffffff;
    background-color: #398439;
    border-color: #255625;
}
.engage-table .btn-success:active,
.engage-table .btn-success.active,
.engage-table .open > .dropdown-toggle.btn-success {
    background-image: none;
}
.engage-table .btn-success.disabled:hover,
.engage-table .btn-success[disabled]:hover,
.engage-table fieldset[disabled] .btn-success:hover,
.engage-table .btn-success.disabled:focus,
.engage-table .btn-success[disabled]:focus,
.engage-table fieldset[disabled] .btn-success:focus,
.engage-table .btn-success.disabled.focus,
.engage-table .btn-success[disabled].focus,
.engage-table fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.engage-table .btn-success .badge {
    color: #5cb85c;
    background-color: #ffffff;
}
.engage-table .btn-info {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.engage-table .btn-info:focus,
.engage-table .btn-info.focus {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.engage-table .btn-info:hover {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.engage-table .btn-info:active,
.engage-table .btn-info.active,
.engage-table .open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.engage-table .btn-info:active:hover,
.engage-table .btn-info.active:hover,
.engage-table .open > .dropdown-toggle.btn-info:hover,
.engage-table .btn-info:active:focus,
.engage-table .btn-info.active:focus,
.engage-table .open > .dropdown-toggle.btn-info:focus,
.engage-table .btn-info:active.focus,
.engage-table .btn-info.active.focus,
.engage-table .open > .dropdown-toggle.btn-info.focus {
    color: #ffffff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.engage-table .btn-info:active,
.engage-table .btn-info.active,
.engage-table .open > .dropdown-toggle.btn-info {
    background-image: none;
}
.engage-table .btn-info.disabled:hover,
.engage-table .btn-info[disabled]:hover,
.engage-table fieldset[disabled] .btn-info:hover,
.engage-table .btn-info.disabled:focus,
.engage-table .btn-info[disabled]:focus,
.engage-table fieldset[disabled] .btn-info:focus,
.engage-table .btn-info.disabled.focus,
.engage-table .btn-info[disabled].focus,
.engage-table fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.engage-table .btn-info .badge {
    color: #5bc0de;
    background-color: #ffffff;
}
.engage-table .btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.engage-table .btn-warning:focus,
.engage-table .btn-warning.focus {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.engage-table .btn-warning:hover {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}
.engage-table .btn-warning:active,
.engage-table .btn-warning.active,
.engage-table .open > .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}
.engage-table .btn-warning:active:hover,
.engage-table .btn-warning.active:hover,
.engage-table .open > .dropdown-toggle.btn-warning:hover,
.engage-table .btn-warning:active:focus,
.engage-table .btn-warning.active:focus,
.engage-table .open > .dropdown-toggle.btn-warning:focus,
.engage-table .btn-warning:active.focus,
.engage-table .btn-warning.active.focus,
.engage-table .open > .dropdown-toggle.btn-warning.focus {
    color: #ffffff;
    background-color: #d58512;
    border-color: #985f0d;
}
.engage-table .btn-warning:active,
.engage-table .btn-warning.active,
.engage-table .open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.engage-table .btn-warning.disabled:hover,
.engage-table .btn-warning[disabled]:hover,
.engage-table fieldset[disabled] .btn-warning:hover,
.engage-table .btn-warning.disabled:focus,
.engage-table .btn-warning[disabled]:focus,
.engage-table fieldset[disabled] .btn-warning:focus,
.engage-table .btn-warning.disabled.focus,
.engage-table .btn-warning[disabled].focus,
.engage-table fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.engage-table .btn-warning .badge {
    color: #f0ad4e;
    background-color: #ffffff;
}
.engage-table .btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.engage-table .btn-danger:focus,
.engage-table .btn-danger.focus {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #761c19;
}
.engage-table .btn-danger:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.engage-table .btn-danger:active,
.engage-table .btn-danger.active,
.engage-table .open > .dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.engage-table .btn-danger:active:hover,
.engage-table .btn-danger.active:hover,
.engage-table .open > .dropdown-toggle.btn-danger:hover,
.engage-table .btn-danger:active:focus,
.engage-table .btn-danger.active:focus,
.engage-table .open > .dropdown-toggle.btn-danger:focus,
.engage-table .btn-danger:active.focus,
.engage-table .btn-danger.active.focus,
.engage-table .open > .dropdown-toggle.btn-danger.focus {
    color: #ffffff;
    background-color: #ac2925;
    border-color: #761c19;
}
.engage-table .btn-danger:active,
.engage-table .btn-danger.active,
.engage-table .open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.engage-table .btn-danger.disabled:hover,
.engage-table .btn-danger[disabled]:hover,
.engage-table fieldset[disabled] .btn-danger:hover,
.engage-table .btn-danger.disabled:focus,
.engage-table .btn-danger[disabled]:focus,
.engage-table fieldset[disabled] .btn-danger:focus,
.engage-table .btn-danger.disabled.focus,
.engage-table .btn-danger[disabled].focus,
.engage-table fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.engage-table .btn-danger .badge {
    color: #d9534f;
    background-color: #ffffff;
}
.engage-table .btn-link {
    color: #337ab7;
    font-weight: normal;
    border-radius: 0;
}
.engage-table .btn-link,
.engage-table .btn-link:active,
.engage-table .btn-link.active,
.engage-table .btn-link[disabled],
.engage-table fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.engage-table .btn-link,
.engage-table .btn-link:hover,
.engage-table .btn-link:focus,
.engage-table .btn-link:active {
    border-color: transparent;
}
.engage-table .btn-link:hover,
.engage-table .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.engage-table .btn-link[disabled]:hover,
.engage-table fieldset[disabled] .btn-link:hover,
.engage-table .btn-link[disabled]:focus,
.engage-table fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}
.engage-table .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.engage-table .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.engage-table .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.engage-table .btn-block {
    display: block;
    width: 100%;
}
.engage-table .btn-block + .btn-block {
    margin-top: 5px;
}
.engage-table input[type="submit"].btn-block,
.engage-table input[type="reset"].btn-block,
.engage-table input[type="button"].btn-block {
    width: 100%;
}
.engage-table .clearfix:before,
.engage-table .clearfix:after {
    content: " ";
    display: table;
}
.engage-table .clearfix:after {
    clear: both;
}
.engage-table .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.engage-table .pull-right {
    float: right !important;
}
.engage-table .pull-left {
    float: left !important;
}
.engage-table .hide {
    display: none !important;
}
.engage-table .show {
    display: block !important;
}
.engage-table .invisible {
    visibility: hidden;
}
.engage-table .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.engage-table .hidden {
    display: none !important;
}
.engage-table .affix {
    position: fixed;
}

.engage-table .visible-xs,
.engage-table .visible-sm,
.engage-table .visible-md,
.engage-table .visible-lg {
    display: none !important;
}
.engage-table .visible-xs-block,
.engage-table .visible-xs-inline,
.engage-table .visible-xs-inline-block,
.engage-table .visible-sm-block,
.engage-table .visible-sm-inline,
.engage-table .visible-sm-inline-block,
.engage-table .visible-md-block,
.engage-table .visible-md-inline,
.engage-table .visible-md-inline-block,
.engage-table .visible-lg-block,
.engage-table .visible-lg-inline,
.engage-table .visible-lg-inline-block {
    display: none !important;
}
@media (max-width: 767px) {
    .engage-table .visible-xs {
        display: block !important;
    }
    .engage-table table.visible-xs {
        display: table !important;
    }
    .engage-table tr.visible-xs {
        display: table-row !important;
    }
    .engage-table th.visible-xs,
    .engage-table td.visible-xs {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .engage-table .visible-xs-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .engage-table .visible-xs-inline {
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .engage-table .visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .engage-table .visible-sm {
        display: block !important;
    }
    .engage-table table.visible-sm {
        display: table !important;
    }
    .engage-table tr.visible-sm {
        display: table-row !important;
    }
    .engage-table th.visible-sm,
    .engage-table td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .engage-table .visible-sm-block {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .engage-table .visible-sm-inline {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .engage-table .visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .engage-table .visible-md {
        display: block !important;
    }
    .engage-table table.visible-md {
        display: table !important;
    }
    .engage-table tr.visible-md {
        display: table-row !important;
    }
    .engage-table th.visible-md,
    .engage-table td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .engage-table .visible-md-block {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .engage-table .visible-md-inline {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .engage-table .visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .engage-table .visible-lg {
        display: block !important;
    }
    .engage-table table.visible-lg {
        display: table !important;
    }
    .engage-table tr.visible-lg {
        display: table-row !important;
    }
    .engage-table th.visible-lg,
    .engage-table td.visible-lg {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .engage-table .visible-lg-block {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .engage-table .visible-lg-inline {
        display: inline !important;
    }
}
@media (min-width: 1200px) {
    .engage-table .visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .engage-table .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .engage-table .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .engage-table .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .engage-table .hidden-lg {
        display: none !important;
    }
}
.engage-table .visible-print {
    display: none !important;
}
@media print {
    .engage-table .visible-print {
        display: block !important;
    }
    .engage-table table.visible-print {
        display: table !important;
    }
    .engage-table tr.visible-print {
        display: table-row !important;
    }
    .engage-table th.visible-print,
    .engage-table td.visible-print {
        display: table-cell !important;
    }
}
.engage-table .visible-print-block {
    display: none !important;
}
@media print {
    .engage-table .visible-print-block {
        display: block !important;
    }
}
.engage-table .visible-print-inline {
    display: none !important;
}
@media print {
    .engage-table .visible-print-inline {
        display: inline !important;
    }
}
.engage-table .visible-print-inline-block {
    display: none !important;
}
@media print {
    .engage-table .visible-print-inline-block {
        display: inline-block !important;
    }
}
@media print {
    .engage-table .hidden-print {
        display: none !important;
    }
}
.engage-table table {
    background-color: #fff;
}